@import "../../../constants/variable.module.scss";

.Component {
    background-color: $secondaryColor;
    height: 35px;
    border-bottom: 1px solid $borderColor;
    padding: 8px 8px;
    display: flex;
    align-items: center;
}

.Wrapper {
    background-color: $primaryColor;
    position: relative;
    margin: 0 9px;
    width: 100%;
    border-radius: 5px;
}

.Icon {
    position: absolute;
    height: 100%;
    padding: 5px 8px;
    color: $white;
}

.InputField {
    width: 100%;
    padding: 16px;
    padding-left: 45px;
    height: 15px;
    font-size: 14px;
    color: $white;
}