@import "../../../constants/variable.module.scss";

.Footer{
    
    margin-top: auto;
    display: flex;
    align-items: center;
    background-color: $accentColor;
    height: 55px;
    padding: 0px 15px;
    & > * {
        padding: 0px 10px;
    }
    
}
.Icon{
    color: $label;
    font-size: 35px;
}

#AttachFile{
    transform: rotate(30deg);
}

.InputDiv{
    margin: 0px auto;
    background-color: $white;
    border-radius: 5px;
    width: calc(95%);
    width: 100%;
    padding: 4px;
    padding-left: 25px;
}