@import "../../../constants/variable.module.scss";





.sentMessage{
    display: flex;
    flex-direction: column;
    background-color: $sentMessage; 
    max-width: 55%; 
    width: fit-content;
    margin: 3px;
    margin-left: auto;
    border-radius: 10px;
    padding: 0 8px;
    word-break: break-word;
}


.receivedMessage{
    display: flex;
    flex-direction: column;
    background-color: $white; 
    max-width: 55%; 
    width: fit-content;
    margin: 3px;
    border-radius: 10px;
    padding: 0 8px;
    word-break: break-word;
}

.text{
    font-size: 14px;
    padding: 0 15px 0 5px;
}

#timeline{
    font-size: 11px;
    color: $label;
    margin-top: auto;
    text-align: right;
    word-break: keep-all;
}