@import "../../constants/variable.module.scss";

.Header {
    background-color: $green;
    height: 8%;
    display: flex;
    align-items: center;
    color: $white;
}

.ArrowBack {
    padding: 20px;
}
.ProfileTitle{
    font-size: 18px !important;
}

.Container {
    height: 100%;
    background-color: $accentColor;
    overflow-y:hidden;
}